* {
    box-sizing: border-box;
}

body {
    background-color: #1f2c52;
    color: #474973;
    font-family: 'Press Start 2P', sans-serif;
    margin: 0 10%;
}

#full-game {
    background-color: #f2f2f2;
    border-radius: 1em;
    padding: 1em 5em 5em 5em;
    margin-top: 5em;
}

h1 {
    text-align: center;
    margin: 1.5em;
    color: #474973;
    font-size: 52px;
}

#interface {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-shrink: 1;
}

.money-box {
    background-color: white;
    height: 10em;
    min-width: 14em;
    border-radius: 0.8em;
    font-size: 1em;
}

#bank-balance {
    font-size: 1.5em;
    color: #FFC857;
}

#bank-balance > img {
    max-height: 1.1em;
    padding-left: .2em;
    vertical-align: 10%;
    filter:hue-rotate(-12deg);
}

h3 {
    font-size: 1.5em;
    margin: 1.4em 0em;
}

.middle-space {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#message {
    color: #FFC857;
    display: block;
}

#message > img {
    max-height: 1em;
    padding-left: .5em;
    filter:hue-rotate(-12deg);
}

@keyframes blinkingText{
    0%{     color: #FFC857;    }
    49%{    color: #FFC857; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #FFC857;    }
}

.blink {
    animation-name: blinkingText;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

#button-block {
    display: flex;
    justify-content: center;

}

#deal-btn, #stand-btn, #draw-btn, #newgame-btn {
    background: none;
    border: none;
    padding: 1.4em 2em 1em 2em;
    font-size: 18px;
    max-width: 15em;
    margin: 1em 2em;
    min-width: 0;
    color: #FE4A49;
    font-family: 'Press Start 2P', sans-serif;
    transition: 0.25s;
    box-shadow: 
      0.4em 0.4em 0 0 #FE4A49,
      inset 0.4em 0.4em 0 0 #FE4A49;
}

#deal-btn:hover, #stand-btn:hover, #draw-btn:hover, #newgame-btn:hover {
    box-shadow: 
    0 0 0 0 white,
    inset 6em 3.5em 0 0 #FE4A49;
    color: white;
}


#deal-btn:disabled, #stand-btn:disabled, #draw-btn:disabled {
    color: grey;
    box-shadow: 
      0.4em 0.4em 0 0 grey,
      inset 0.4em 0.4em 0 0 grey;
}

#bet-num {
    text-align: center;
    padding-left: .5em;
    color: #FFC857;
}

#inline {
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.17em;
}

.coin-img {
    height: 1.1em;
    padding-left: 0.3em;
    filter:hue-rotate(-12deg);
}

#bet-minus, #bet-plus{
    margin-top: -0.9em;
    border: none;
    min-width: 2.5em;
    min-height: 2.5em;
    max-height: 2.5em;
    max-width: 2.5em;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    transition: 0.25s;
    box-shadow: 
      0.3em 0.3em 0 0 #FE4A49,
      inset 0.3em 0.3em 0 0 #FE4A49;
}

#bet-minus:hover, #bet-plus:hover {
    box-shadow: 
    0 0 0 0 white,
    inset 6em 3.5em 0 0 #FE4A49;
    color: white;
}

#bet-minus:disabled, #bet-plus:disabled {
    color: grey;
    box-shadow: 
      0.3em 0.3em 0 0 grey,
      inset 0.3em 0.3em 0 0 grey;
}

#bet-minus:focus, #bet-plus:focus {
    outline: none;
}

#game-table {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 10em;
}

#game-table img {
    border-radius: .5em;
    margin: 1em;
    max-width: 180px;
    height: auto;
    background-color: #fcfcfc;
    opacity: 0.8;
    box-shadow: 
      0.3em 0.3em 0 0 lightgrey;
}

.hide {
    display: none;
}

#character-space {
    letter-spacing: .5em;
}

#super {
    vertical-align: 20%
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #474973;
    border-radius: 1em;
    padding: 2em 4em;
    margin-top: 1em;
    margin-bottom: 5em;
    color: #f2f2f2;
    align-items: center;
}

#payout-table{
    color: #FFDE9A;
    align-self: center;
}

#payout-table > h4{
    margin: 0;
    line-height: 2em;
}

#instructions > h4{
    margin: 0;
    line-height: 2em;
}

h5 {
    text-align: right;
}

a {
    text-decoration: none;
    color: #FE4A49;
}

a:hover {
    color: white;
}